@* @model int *@
@* @model string *@
@model List<Students>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <h3>Student List</h3>
    @foreach (var student in Model)
    {
        <h3>Roll No : @student.Id</h3>
        <h3>Name : @student.Name</h3>
        <h3>City : @student.City</h3>
        <hr />
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
